<% if cat.persisted? %>
  <% action = cat_url %>
<% else %>
  <% action = cats_url %>
<% end %>


<form action="<%= action %>" method="post">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="cat_name">Cat name</label>
  <input
    type="text"
    id="cat_name"
    name="cat[name]"
    value="<%= cat.name %>">
  <br><br><br>
  <label for="cat_birth_date">Cat birthdate</label>
  <input
    type="date"
    id="cat_birth_date"
    name="cat[birth_date]"
    value="<%= cat.birth_date %>">


  <br><br><br>
  <% Cat::GENDER.each do |gender| %>
  <% gender_id = (gender == "M" ? 'cat_sex_male' : 'cat_sex_female') %>
  <% sex_type = (gender == "M" ? 'Male' : 'Female') %>

  <input
    type="radio"
    name="cat[sex]"
    id=<%= gender_id %>
    value=<%= gender %>
    <% if cat.sex == gender %>
      <%= 'checked' %>
    <% end %>>

  <label for=<%= gender_id %>>
    <%= sex_type %>
  </label>

  <% end %>

  <br><br><br>

  <label for="cat_color">Cat color</label>
  <select name="cat[color]" id="cat_color">
    <% Cat::COAT_COLORS.each do |color| %>
      <option value=<%= color %>
        <% if cat.color == color %>
          <%= 'selected' %>
        <% end %>><%= color.upcase %></option>
    <% end %>
  </select>
  <br> <br> <br>

  <label for="cat_description">
    <textarea name="cat[description]"><%= cat.description %></textarea>
  </label>
  <br> <br> <br>

  <button>Submit</button>
</form>
